@import url(https://fonts.googleapis.com/css?family=Iceland);

body{
    padding: 0;
    margin: 0;
    background-color: #674172;
}

.dateAndTime {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    width:95%;
    margin: 0 auto;
    text-align: center;
    font-size: 10vw;
    color:#eee;
    font-family: 'Iceland', cursive;
}

.date{
    font-size: 6vw;
}

.dayType{
    font-size: 10vw;
}

.dayTypeLetter{
    font-size:16vw;
}

#period{
    font-size: 16vw;
}