@import url(https://fonts.googleapis.com/css?family=Raleway);

body{
    padding: 0;
    margin: 0;
    background-color: #674172;
}

.col-xs-3{
    padding: 0;
}
.col-xs-9{
    padding: 0;
}

.dashboard {
    background-color: #eee;
    font-size: 8vw;
    color:#674172;
    font-family: 'Raleway', sans-serif;
    margin-top: 6vw;
    margin-bottom: 6vw;
}

.date{
    font-size: 6vw;
}

.dayType{
    font-size: 6vw;
}

.dayTypeLetter{
    font-size:10vw;
}

#period{
    font-size: 9vw;
}

.daysOfPeace{
    font-size: 6vw;
    text-align: center;
    margin:0 auto;
    width:100%;
    margin-top: 3vw;
    border-left: 3px solid #674172;
}

.tableHeader{
    font-size: 3vw;
    text-align: center;
}