<link type="text/css" rel="stylesheet" href="scss/home.css">

<div id="home">

    <!-- Header -->
    <a name="about"></a>
    <div id="intro-header" class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Mr. Gutierrez's Class</h1>
                        <h3>Chicago Tech Academy</h3>
                        <hr class="intro-divider">
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->
    
    <div id="sophomoreTech" class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Sophomore Tech</h2>
                    <p class="lead">The Logic Branch of the Sophomore Tech class centers around the introduction of computer logic and computer science principles. We will learn basic programming using Scratch as a means of introduction to JavaScript, as well as HTML and CSS. We also will explore current events in technology and how they affect the students.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/codeStock.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div id="MMAI" class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">MultiMedia Arts I</h2>
                    <p class="lead">MultiMedia Arts I (MMA1) is a junior level tech class that explores many differnet types of digital media production. We will work with professional level software used in image editing, video editing, sound design, logo design, 3D modeling and page layout. The goal is to expose the students to a variety of different digital media types so they have the basic skills needed in their other PBL classes. We also will explore current events in technology and how they affect the students.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/adobe.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div id="MMAIII" class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                        <h2 class="section-heading">MultiMedia Arts III</h2>
                    <p class="lead">MultiMedia Arts III (MMA3) is a senior level tech class that focuses on the different parts that go into media projects like animated movies or video games. The core of this class is centered around creating the different art pieces involved with creating a video game. We will learn about Sprite Animation, 3D Modeling and animation, and audio, then putting them together into a finished video game product using the Unity gaming engine. NOTE: This is NOT a game development course, so we will not be focusing on programming.  However, we will be doing some simple programming as a means to assemble the multimedia video game project into a cohesive unit. We also will explore current events in technology and how they affect the students.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/Gameboy.gif" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->


    <div id="pastProjectsSection" class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Past Projects</h2>
                    <p class="lead">Take a look at the archive of my classes’ work from previous projects.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/tattoo.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    

    <div id="resources" class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                        <h2 class="section-heading">Resources</h2>
                    <p class="lead">Here you will find resources that can be used by virtually any student in the school, as well as for teachers. These are useful tools I have found, or they are resources that I created for my students.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/post-its.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

</div>