<div id="MMA">
    <h2 class="header">{{header}}</h2>
    <div class="pageHeader">
      <p>{{description}}</p>
    </div>
    
    
    <div class="resourceLinks">
        <a target="_blank" href="https://classroom.google.com"><div class="resourceLinksBtn">Google Classroom</div></a>
        <a target="_blank" href="https://drive.google.com/open?id=0B1gdiQ4nnUV1a3FIck5SSkh5d3c"><div class="resourceLinksBtn">Current Project Resources</div></a>
    </div>

<div class="dailies"></div> 
    
<script src="js/googleSpreadsheetAgenda.js" type="text/javascript" charset="utf-8"></script>
</div>