<div id="projects">
    <h2 class="header">{{header}}</h2>
    <div class="pageBody">
<hr>

 <!-- Project-->
 
 <!--
        <div class="row postA">
            <div class="col-md-7">
                <a href="#/alphaGameProject">
                    <img class="img-responsive" style="width:900px; height:auto;" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRrqs6zeSrci3BaUCT33INmHHn9wQFAPBBcT8pKZ5x4aC_sLclIo7nrlYjt" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Alpha Game Project</h3>
                <h4>Juniors/Seniors: MMAIII 2016-2017</h4>
                <p>Current Project: In this project, students collaborate to create an Alpha Stage Prototype Game ready for a Kickstarter campaign.</p>
                <a class="btn btn-default" href="#/superMarioRemix">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
         <!--/.row -->
  
  
          <!--Project-->
<!--    
        <div class="row postB">
            <div class="col-md-7">
                <a href="#/drawingWithCode">
                    <img class="img-responsive" style="width:900px; height:auto;" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRrqs6zeSrci3BaUCT33INmHHn9wQFAPBBcT8pKZ5x4aC_sLclIo7nrlYjt" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Drawing With Code</h3>
                <h4>Sophomores: Intro Programming 2016-2017</h4>
                <p>In this project...</p>
                <a class="btn btn-default" href="#/superMarioRemix">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

         <!-- Project-->
        <div class="row postA">
            <div class="col-md-7">
                <a href="#/superMarioRemix">
                    <img class="img-responsive" style="width:900px; height:auto;" src="../../img/superMarioRemixBanner.png" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Super Mario Remix Project</h3>
                <h4>Juniors/Seniors: MMAIII 2016-2017</h4>
                <p>In this project, students studied the first level of Super Mario Brothers, and then recreated it using Unity and C#.</p>
                <a class="btn btn-default" href="#/superMarioRemix">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->


        <!-- Project-->
        <div class="row postB">
            <div class="col-md-7">
                <a href="#/butterflyEffect">
                    <img class="img-responsive" style="width:900px; height:auto;" src="https://i1119.photobucket.com/albums/k625/chitechg/CYOA_banner_zpsrtzvkezk.png" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Butterfly Effect - Choose Your Own Adventure Project</h3>
                <h4>Juniors: MMAII 2015-16</h4>
                <p>In this project, students wrote stories how a small change can have a big effect on history.</p>
                <a class="btn btn-default" href="#/butterflyEffect">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->


        <!-- Project-->
        <div class="row postA">
            <div class="col-md-7">
                <a href="#/portfolioProject">
                    <img class="img-responsive" src="https://i1119.photobucket.com/albums/k625/chitechg/portfolio_banner_zpsvidr325g.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Website Portfolio Project</h3>
                <h4>Juniors/Seniors: MMAII 2015-16</h4>
                <p>In this project, the students were tasked to create website Portfolios, where they showed their work from any/all of their classes.</p>
                <a class="btn btn-default" href="#/portfolioProject">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project-->
        <div class="row postB">
            <div class="col-md-7">
                <a href="#/pixelatedLife">
                    <img class="img-responsive" src="https://i1119.photobucket.com/albums/k625/chitechg/Skeleton%20clone%201_zpszprjh8h1.png?t=1458052120" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Pixelated Life</h3>
                <h4>Juniors/Seniors: MMAII 2015-16</h4>
                <p>Students created classic video game style animations using 8, 16 or 32 bit pixel graphics.</p>
                <a class="btn btn-default" href="#/pixelatedLife">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
    </div>

</div>