<div id="resources">
    <h2 class="header">{{header}}</h2>
        <div class="pageHeader">
      <p>{{description}}</p>
    </div>
    
   <div class="resourcePageLinks"> 
        <h4>Audio</h4>
        <ul>
            <li><a target="_blank" href="http://www.bfxr.net/">BFXR 8-Bit Audio Mixer</a></li>
        </ul>
        
        <h4>Game Assets</h4>
        <ul>
            <li><a target="_blank" href="http://v-play.net/game-resources/16-sites-featuring-free-game-graphics">16 Websites with Free Game Art</a></li>
        </ul>
        
         <h4>Color Schemes</h4>
         <ul>
             <li><a target="_blank" href="https://www.google.com/design/spec/style/color.html#">Google Style Guide</a></li>
             <li><a target="_blank" href="http://designmodo.com/flat-design-colors/">Article for Picking a UI Color Scheme</a></li>
             <li><a target="_blank" href="http://www.flatuicolorpicker.com/all">Flat UI Color Picker</a></li>
             <li><a target="_blank" href="http://paletton.com/">Paletton</a></li>
             
             
         </ul>
    </div>
</div>