<div id="sophomoreClass">
     <h2 class="header">{{header}}</h2>
    <div class="pageHeader">
      <p>{{description}}</p>
    </div>
    
    
    <div class="resourceLinks">
        <a target="_blank" href="https://classroom.google.com"><div class="resourceLinksBtn">Google Classroom</div></a>
        <a target="_blank" href="https://docs.google.com/a/chicagotechacademy.org/spreadsheets/d/1drulOj3HX-0oWyQLwxB1Y_PucKNdocV1DtLda3FFFi0/edit?usp=sharing"><div class="resourceLinksBtn">Extra Credit Spreadsheet</div></a>
    </div>

<div class="dailies"></div> 
    
<script src="js/googleSpreadsheetAgenda.js" type="text/javascript" charset="utf-8"></script>
</div>