<!-- Page Content -->
<div class="container">
<!--<h2 class="header">{{header}}</h2>-->


<div class="row">

    <!-- Blog Post Content Column -->
    <div class="col-lg-12">

        <!-- Blog Post -->

        <!-- Title -->
        <br>
        <h1>Butterfly Effect Alternate History Project</h1>

        <!-- Author -->
        <p class="lead">
            Juniors: MMAII/History/English/Art 2015-16
        </p>

        <hr>

        <!-- Date/Time -->
        <h5><span class="glyphicon glyphicon-time"></span> Updated on June 1st, 2016</h5>

        <hr>

        <!-- Preview Image -->
        <div class="row">
            <img class="col-sm-12 img-responsive" src="https://i1119.photobucket.com/albums/k625/chitechg/CYOA_banner_zpsrtzvkezk.png" alt="">
        </div>

        <hr>

        <!-- Post Content -->
        <p class="lead">This project was done in conjunction with English III with <a target="_blank" href="http://wesleydavidson.weebly.com/">Wes Davidson</a>, U.S. History with Tim Morris and Art I with Nicole Dudik. We centered our projects around the ideas put forth by the book 1984 by George Orwell. </p>
        
        <p>English read the book, and pushed to tie everything together. History explored major historical events and the small things that created big changes, and how ideas as spread. Art explored if having limitations can actually cause us to think more creatively. My class, MMAII, explored the flow of information, and how encryption works to protect information. We did a unit on Encryption, followed by starting to write alternate history Choose Your Own Adventure style games. They used research from their History class, and identified a historical event they were interested in. They then identified the key thing that made that event unfold the way it did, and wrote an alternate reality story.</p> 
        <p>For instance, what if America never got involved in the Middle East following the 9/11 attacks? In that world, America would not have hurt its reputation, and wouldn't have accumulated as much national debt.</p>

        <p>We ran short on time for this project, so not every project was complete in time for Exhibition. We will continue with them after. In the meantime, please enjoy my students’ work.</p>

        <div class="link_list">
    <h3>Choose Your Own Adventure Alternate History Stories</h3>
        <a target="_blank" class="btn btn-default" href="CYOA/Leron_Lacy.html">Leron Lacy - Time is Precious </a>
        <a target="_blank" class="btn btn-default" href="CYOA/Jasmine_Aranda.html">	Jasmine Aranda - John F. Kennedy - November 22, 1963</a>
        <a target="_blank" class="btn btn-default" href="CYOA/Rommel_Royster.html">	Rommel Royster - Am I Really a Good General</a>
        <a target="_blank" class="btn btn-default" href="CYOA/Rommel_Royster.html">	Jonathan Ortiz - Revolutionary War</a>
        <a target="_blank" class="btn btn-default" href="CYOA/Saul_Villasenor.html">Saul Villasenor - Boston Tea Party</a>
        <a target="_blank" class="btn btn-default" href="CYOA/Darryl_Sanders.html">	Darryl Sanders - Spartans Golden Age is Forever</a>
        <a target="_blank" class="btn btn-default" href="CYOA/Kala_Montgomery.html">Kala Montgomery - Before and After</a>

    </div>
     
    </div>


</div>
<!-- /.row -->


     