<!--https://github.com/blueimp/Gallery-->

<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/vader/jquery-ui.css" id="theme">
<link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">

<!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-12">

                <!-- Blog Post -->

                <!-- Title -->
                <br>
                <h1>Pixelated Life Project</h1>

                <!-- Author -->
                <p class="lead">
                    Juniors/Seniors: MMAII 2015-16
                </p>

                <hr>

                <!-- Date/Time -->
                <h5><span class="glyphicon glyphicon-time"></span> Updated on February 24th, 2016</h5>

                <hr>

                <!-- Preview Image -->
                <div class="row">
                    <img class="col-sm-12 img-responsive" src="https://i1119.photobucket.com/albums/k625/chitechg/Skeleton%20clone%201_zpszprjh8h1.png?t=1458052120" alt="">
                </div>

                <hr>

                <!-- Post Content -->
                <p class="lead">The Pixelated Life project started out as a challenge to my students. I wanted to know if they could create high quality work, from having zero knowledge to being able to create something on their own, in just 2 weeks.</p>
                <p>Students were tasked with finding an object or character that they felt was formative to them as young adults. Something that helped shaped them into who they are today. They were to then break it down into 8, 16 or 32 bit style blocks and create a base shape. They used <a target=”_blank” href=”http://www.piskelapp.com/”>Piskel</a> to do so. We did a round of critiques on their base image, and they started animating. They needed to create 36 frames of animation and 12 frames per second, in order to create a 3 second long animation. They were given the parameters that they could not repeat any single frame more than 6 times. If any frame repeated more than that, then they needed to add more frames, as I would not count extra repeating frames towards their 36 frame total.</p>

                <p>At first, the students felt this would be easy, until they realized it meant that they would need to do at least 36 drawings for it to work. One of the happy side effects of this project as they were forced to work smarter, and found ways to make the process faster by themselves. </p>
                
                <p>This project actually happened in the middle of another project, right after winter break. The previous website portfolio project ran long, and the students were beginning to feel burnt out. So we switched gears temporarily. We discussed what high quality work was during the portfolio project, so we applied it here.</p>
                
                
                <ul>Learning Goals
                <li>To create high quality work in a short period of time.</li>
                <li>To learn about how small blocks of color can come together to create an image.</li>
                <li>To learn how animation works.</li>
                <li>To study the art styles of classic video games.</li>
                </ul>
                
                <p>After they were done, we then uploaded their work to <a target=”_blank” href=”https://www.aurasma.com/”>Aurasma</a> which let them turn their work into an Augmented Reality experience. We then printed these out and hung them in the hall. That way, for exhibition, students could show their animations from a still image.</p>  
                

            <h2>Student Work Gallery - Click to view largery</h2>

            <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
            <div id="blueimp-gallery" class="blueimp-gallery  blueimp-gallery-controls">
                <div class="slides"></div>
                <h3 class="title"></h3>
                <a class="prev">‹</a>
                <a class="next">›</a>
                <a class="close">×</a>
                <a class="play-pause"></a>
                <ol class="indicator"></ol>
            </div>

                <!-- Images can be of any size. The thumbnails should be something like 75px X 75px.  -->
            <div id="pixelatedLifeGallery" class="pixelatedLifeGallery">
                <a href="https://lh3.googleusercontent.com/CMjzIn4gaM4R2UOlKs6Ye8sOiCaejdwFgLWO-8Uuhkl5CPBHzzpiiMKN0kVp5DgYv_W6eIazGYQjOX6osPDXioWcHy7nzKkL70HlQ9X2sgQqQ_rDOvkHCQ1ymUNDcyvV7kJQa9H8WciWb0A4U3OGpyePmyPMsS7X4VPBX3uL7j4VPPivKDwdLfoEMkYa0odjVA20aOkoOUlgVOnEehsVR9nxshELNL4_UU2t0zNLS51M8UZr_hpU0tXIq_gu1H4n-dBv1aZejlvbZIN-RBvPiMMAf3FiH8oeqiAS1El8d3LJ1QoGHH0SSZGVP3qj19-YY0Cxaqi3G1GcqvqIx6aDEgrDTEag_I7UALNslbSyzkDXHUDx5dUzzWRaJI_2HOvg8SF4Wj4PwwLsvABqKV0wHGg2aGZY2uWRSaYDCirMUBZGlLmi--MXILkGCuGKNz5UKXAhS4bdHKJ27hh0tGRfKonc_IYdNk05H_rSBY8R127h7tSh0WIoCCD0F5jQFILdr_Z0jB-iNidaBT1Gf-0Z0UN3BtGP-s0g89nuZqHGMUcadRK7d4N4vZmD72Vz8GSVOoYH=s640-no" data-dialog>
                    <img class="gallery_thumbnail" src="https://lh3.googleusercontent.com/CMjzIn4gaM4R2UOlKs6Ye8sOiCaejdwFgLWO-8Uuhkl5CPBHzzpiiMKN0kVp5DgYv_W6eIazGYQjOX6osPDXioWcHy7nzKkL70HlQ9X2sgQqQ_rDOvkHCQ1ymUNDcyvV7kJQa9H8WciWb0A4U3OGpyePmyPMsS7X4VPBX3uL7j4VPPivKDwdLfoEMkYa0odjVA20aOkoOUlgVOnEehsVR9nxshELNL4_UU2t0zNLS51M8UZr_hpU0tXIq_gu1H4n-dBv1aZejlvbZIN-RBvPiMMAf3FiH8oeqiAS1El8d3LJ1QoGHH0SSZGVP3qj19-YY0Cxaqi3G1GcqvqIx6aDEgrDTEag_I7UALNslbSyzkDXHUDx5dUzzWRaJI_2HOvg8SF4Wj4PwwLsvABqKV0wHGg2aGZY2uWRSaYDCirMUBZGlLmi--MXILkGCuGKNz5UKXAhS4bdHKJ27hh0tGRfKonc_IYdNk05H_rSBY8R127h7tSh0WIoCCD0F5jQFILdr_Z0jB-iNidaBT1Gf-0Z0UN3BtGP-s0g89nuZqHGMUcadRK7d4N4vZmD72Vz8GSVOoYH=s640-no">
                </a>
                <a href="https://lh3.googleusercontent.com/Im8CdXdJnI8t183gOW0xFApUnED5kvr2joeBGDf-egTHo5wqR2mSqQno8AeC3tMcBOJckuWPkJCSPVXVGjtX6wSRH7__gplryLLUXkXSAWA6nW67dGaf_CODAu3qro8IWCUh2V8VLTIUgFFpLRpilfl10Alto8PP9glEvATMbrUyHdbzE8VdcLm5xS8YkcIcEkQ7wmO_ie5tm36-WQPDQM53g2vNHxtgTdJq_Azv2bQHWvRS65IN_Blxe8doYKKZbCzXKNHNqlCzFdnTQWAyw5IVVDJGILc7FD9U2qMgS7THR_gsqk_kEnZo6LqJRzAqxhEMOxd1BYOr8f79itg8ex-S6OPhgI5Ud-7owGU048qh98D3ICGVFnPRZiUJuAclNHglj2IlA7SkFXKpwUm1DVrrZPGSUfxXGjCEK63Lxb8KP7QNA14dftMSP_LLxFtef2asZiXkHCdpS6kr3YnO2d2w7x1qYtnmoyDxARo2wG6Y99vapP_B90EYFl8zB4TAVy3yU6SFpQ2L5o7e9zqAdQtgKIeivW-ajmp_ATM9GGlsfjbRbDwlLgYpDS2oWf1RSn29=s640-no" data-dialog>
                    <img class="gallery_thumbnail" src="https://lh3.googleusercontent.com/Im8CdXdJnI8t183gOW0xFApUnED5kvr2joeBGDf-egTHo5wqR2mSqQno8AeC3tMcBOJckuWPkJCSPVXVGjtX6wSRH7__gplryLLUXkXSAWA6nW67dGaf_CODAu3qro8IWCUh2V8VLTIUgFFpLRpilfl10Alto8PP9glEvATMbrUyHdbzE8VdcLm5xS8YkcIcEkQ7wmO_ie5tm36-WQPDQM53g2vNHxtgTdJq_Azv2bQHWvRS65IN_Blxe8doYKKZbCzXKNHNqlCzFdnTQWAyw5IVVDJGILc7FD9U2qMgS7THR_gsqk_kEnZo6LqJRzAqxhEMOxd1BYOr8f79itg8ex-S6OPhgI5Ud-7owGU048qh98D3ICGVFnPRZiUJuAclNHglj2IlA7SkFXKpwUm1DVrrZPGSUfxXGjCEK63Lxb8KP7QNA14dftMSP_LLxFtef2asZiXkHCdpS6kr3YnO2d2w7x1qYtnmoyDxARo2wG6Y99vapP_B90EYFl8zB4TAVy3yU6SFpQ2L5o7e9zqAdQtgKIeivW-ajmp_ATM9GGlsfjbRbDwlLgYpDS2oWf1RSn29=s640-no">
                </a>
                <a href="https://lh3.googleusercontent.com/d7AAjVxS16wUprGnMRzcJkwlAmWC2olHLbyGSHCRfxWy78Ry_pkd5x-cI9lBiFUPybemjTY3P75D1fH_CtjqIKRpGI_ACBSv354yya6w8Bu0iL2my1K8uLBd6S4qV6oPT5GG14y8M0zkNMGIVEgHGPw86eBUedVcQATcaYyiX10-d1nCYe9N6Qn2JWPWcKzd89EsXq0c0GsbkZAKJFezaaddIGq0ycBE4UId-Y8DP99mdK0IcxSCYZs0CnGpwB0O9AFwZHs0Up2BFVlIDOVRrLUIbtW5uuS16APtBmFAeGbiw_b6yUw4fcQEahOQK6tutuCXUa1vXnEjb00tehTNdFbEL1AdKUy51i1HqH4U3PnVYgAmkkRGwoW99TvADODA7MlUQJ1fePBaD1A0bXVuF5eN8hgDlv_rK2zJOwypFDNeFztUHFTrl8kR_b2wUXfcNjTVve6pViCcmi51r7h7vRJPSKKm7y33QO_P0yKWzAogA3FQ03UUojcbMnUYEaDFSfXcvwf2pJ_WxMeA6Wn30JgqYIXrnAJu8LJ_MLSJjwFgEegB-buUf_fL4VWZPCOUty0N=s640-no" data-dialog>
                    <img class="gallery_thumbnail" src="https://lh3.googleusercontent.com/d7AAjVxS16wUprGnMRzcJkwlAmWC2olHLbyGSHCRfxWy78Ry_pkd5x-cI9lBiFUPybemjTY3P75D1fH_CtjqIKRpGI_ACBSv354yya6w8Bu0iL2my1K8uLBd6S4qV6oPT5GG14y8M0zkNMGIVEgHGPw86eBUedVcQATcaYyiX10-d1nCYe9N6Qn2JWPWcKzd89EsXq0c0GsbkZAKJFezaaddIGq0ycBE4UId-Y8DP99mdK0IcxSCYZs0CnGpwB0O9AFwZHs0Up2BFVlIDOVRrLUIbtW5uuS16APtBmFAeGbiw_b6yUw4fcQEahOQK6tutuCXUa1vXnEjb00tehTNdFbEL1AdKUy51i1HqH4U3PnVYgAmkkRGwoW99TvADODA7MlUQJ1fePBaD1A0bXVuF5eN8hgDlv_rK2zJOwypFDNeFztUHFTrl8kR_b2wUXfcNjTVve6pViCcmi51r7h7vRJPSKKm7y33QO_P0yKWzAogA3FQ03UUojcbMnUYEaDFSfXcvwf2pJ_WxMeA6Wn30JgqYIXrnAJu8LJ_MLSJjwFgEegB-buUf_fL4VWZPCOUty0N=s640-no">
                </a>
                <a href="https://lh3.googleusercontent.com/H4-0yNgZFfsvR-C6lqFXO1Yt09NtAEud-tWBPfi3wP95gRvTBvG-G0YGclimnod6-oXkdk1l06r5r8BCy61wxyOaFcZYNr81bIG0gim8gl9M3Zvk-Kemv2rt3oR09JKdmknRPq0FlQsqE7-PbARZugk-mGyKgu-tjr1XNnhm-rfuKmQl51MzVlc3uQwI224rVtwotwA6d21yVnA3mhuAf__206fUPGtXDXN4wPwIlYfY3b4RKezZBD-fZGwNq8klUhTXq9r46LDecgX_zr7NC4KJwuNeiGRikXLIHS32SLD_F8YLtkzZk5a3JgiYba8TI4N0lc6VXiK9JWkc42isOo-beYXyjTlH8b4qszn4dmI1c-6Ul4Run5u7N22aOB-MfNUz8-3aGHag_wp7Hqbgy-A9HV2PfnEdMO3Q-FlZrhtZs7IS3veQz1tJuFfV_r5kLmNKFjmfUTebqA1zEqRKagMlElqNYxIkAM3tDW4wGcQVO8ao434jDHI_niYgfdo7wXyVaEqEGHuVT6m_yKpSkaHn1THEfZ4Wlecd3bqGvULl69eSlku6W9z5Uas-oP0yTjyq=s640-no" data-dialog>
                    <img class="gallery_thumbnail" src="https://lh3.googleusercontent.com/H4-0yNgZFfsvR-C6lqFXO1Yt09NtAEud-tWBPfi3wP95gRvTBvG-G0YGclimnod6-oXkdk1l06r5r8BCy61wxyOaFcZYNr81bIG0gim8gl9M3Zvk-Kemv2rt3oR09JKdmknRPq0FlQsqE7-PbARZugk-mGyKgu-tjr1XNnhm-rfuKmQl51MzVlc3uQwI224rVtwotwA6d21yVnA3mhuAf__206fUPGtXDXN4wPwIlYfY3b4RKezZBD-fZGwNq8klUhTXq9r46LDecgX_zr7NC4KJwuNeiGRikXLIHS32SLD_F8YLtkzZk5a3JgiYba8TI4N0lc6VXiK9JWkc42isOo-beYXyjTlH8b4qszn4dmI1c-6Ul4Run5u7N22aOB-MfNUz8-3aGHag_wp7Hqbgy-A9HV2PfnEdMO3Q-FlZrhtZs7IS3veQz1tJuFfV_r5kLmNKFjmfUTebqA1zEqRKagMlElqNYxIkAM3tDW4wGcQVO8ao434jDHI_niYgfdo7wXyVaEqEGHuVT6m_yKpSkaHn1THEfZ4Wlecd3bqGvULl69eSlku6W9z5Uas-oP0yTjyq=s640-no">
                </a>
                <a href="https://lh3.googleusercontent.com/bgyGpwAP_ByvbfhWbSUtEJEJO6MAob4PltRyO59LYBRLu-m6D6CkFnFWus0YCqSWwh_zXMS29YAnkcuqBXK2ZpCNhdDNU4gEnUV3VkHXvDKgGt3RkRxqqEoQFkwuOQ5T7KdqINFPdAlx4iuu2eu-lk9ImnB1hl0Q_0tQQAQiniPDVEpFLVSUVAvPGZe_2tXRCpuU99B7Kl--EFPpfMvrAuUJ6JiG_ZcGbGFIQHd2MlgxkaHXIi1xTu3huBgrRPQhSyTxeObjR127Z3hSvqo5AA32A907AehRcIC1XjI5TM3c4n9vNatPsRU_JeulXt_G29krjsCaOlBhgYlTYI5veJaCtgFEiMKZen8NJrY295enjBqfB-p2HIm9I_ifW1JIj-auoIEDa7ameHn2U4FDiFyAYJVd9OIKkPLYlAURds-_afjMVXtDc0HvAOyKBpJzmd-01OCftUjkU3o-I78KrTVusP2O-LTqtqeSFD3ifrYmCMdR_qXuBcH703VUH8lK-7qvhnWXqIKQ9YG67B836D63U5hzVZcnk03m24Z1N5Op_GsLOc9UdTxd3Da86eJPWz0d=s640-no" data-dialog>
                    <img class="gallery_thumbnail" src="https://lh3.googleusercontent.com/bgyGpwAP_ByvbfhWbSUtEJEJO6MAob4PltRyO59LYBRLu-m6D6CkFnFWus0YCqSWwh_zXMS29YAnkcuqBXK2ZpCNhdDNU4gEnUV3VkHXvDKgGt3RkRxqqEoQFkwuOQ5T7KdqINFPdAlx4iuu2eu-lk9ImnB1hl0Q_0tQQAQiniPDVEpFLVSUVAvPGZe_2tXRCpuU99B7Kl--EFPpfMvrAuUJ6JiG_ZcGbGFIQHd2MlgxkaHXIi1xTu3huBgrRPQhSyTxeObjR127Z3hSvqo5AA32A907AehRcIC1XjI5TM3c4n9vNatPsRU_JeulXt_G29krjsCaOlBhgYlTYI5veJaCtgFEiMKZen8NJrY295enjBqfB-p2HIm9I_ifW1JIj-auoIEDa7ameHn2U4FDiFyAYJVd9OIKkPLYlAURds-_afjMVXtDc0HvAOyKBpJzmd-01OCftUjkU3o-I78KrTVusP2O-LTqtqeSFD3ifrYmCMdR_qXuBcH703VUH8lK-7qvhnWXqIKQ9YG67B836D63U5hzVZcnk03m24Z1N5Op_GsLOc9UdTxd3Da86eJPWz0d=s640-no">
                </a>
                <a href="https://lh3.googleusercontent.com/uHlE0dnBJ2xuAEBfeLcaGalsfdUCKvSa7lmxNKDcyDaUOCVUQpNPPrMm0mj6JpMucHjjs0dNZyxFq-tZk3EGe6o0qx7Hlp_dGpH-4YpM6ZWY-ZDAjKnyseXcMfVM1_SV9VIGcYqKmDKdku5K2NDKh3bfjsQcDPQKetRzfplq1tXLdxP9l-Sr6WaJ1aEKlJamWcG0GiSiE0NmF2JsOZ9i5k-5-pn37SzzPPQT0H999C3WUNLLxKSW07WG_HFhcGtk-W7gojWXZmWEdIDH8bNpI7u3OEkEf5zS5S0pID7kDPHostCtRmaOAeHcqGXH-hdnNuHeB19VKDK1810Y2QrhydrBVVRwrX0ls9jwpdoB6GJLquYCXMnH-NmFxE5ihVOS6SlZyJzPGyTsS-GSEhM_biPy7tnoyJKTd7IqWvCyIJFxNWqVhsb_3T2H97s7izRbcAj0w11BKbkllP6k15TbbOc5kTJPffGYhoxSAye138fN5lA_bsf1EFMVdez4cbkCSYs2wwD3sfZqjb0X0G7pOVIup5u-eriqaEDe9s_-QhQCwDxcapr13kaf-1BKAe_JxGiN=s640-no" data-dialog>
                    <img class="gallery_thumbnail" src="https://lh3.googleusercontent.com/uHlE0dnBJ2xuAEBfeLcaGalsfdUCKvSa7lmxNKDcyDaUOCVUQpNPPrMm0mj6JpMucHjjs0dNZyxFq-tZk3EGe6o0qx7Hlp_dGpH-4YpM6ZWY-ZDAjKnyseXcMfVM1_SV9VIGcYqKmDKdku5K2NDKh3bfjsQcDPQKetRzfplq1tXLdxP9l-Sr6WaJ1aEKlJamWcG0GiSiE0NmF2JsOZ9i5k-5-pn37SzzPPQT0H999C3WUNLLxKSW07WG_HFhcGtk-W7gojWXZmWEdIDH8bNpI7u3OEkEf5zS5S0pID7kDPHostCtRmaOAeHcqGXH-hdnNuHeB19VKDK1810Y2QrhydrBVVRwrX0ls9jwpdoB6GJLquYCXMnH-NmFxE5ihVOS6SlZyJzPGyTsS-GSEhM_biPy7tnoyJKTd7IqWvCyIJFxNWqVhsb_3T2H97s7izRbcAj0w11BKbkllP6k15TbbOc5kTJPffGYhoxSAye138fN5lA_bsf1EFMVdez4cbkCSYs2wwD3sfZqjb0X0G7pOVIup5u-eriqaEDe9s_-QhQCwDxcapr13kaf-1BKAe_JxGiN=s640-no">
                </a>
                <a href="https://lh3.googleusercontent.com/RgU0Jez_bgJ1cSNKeq444EZ-K5ZluLu_sJQN3FGRKpfTcnMN8oVt4pVEoZ0PKZFGVqgSAAk4M4YbmhnaBZZpYeJF9gmAGhj4AJkaryB5s17bvXirIvglEsR1oPsqYmk2oRNYWI8ezv_xsHd4R-aJf5PTa-J6DiP2HQS5CvgDT819cel3JjGKrKpo6lauFY07Ci7f6M9CU-oKvpojqC1TzhdBqy-H3BH-iuzLIRTJAAYNamayZyknwy4RNg60W2-6lCO9vZiDX5rRXlcAaDJMHF0csjd6l6_L0QZxWFsU84xpkS9u3i6WOen8DSwGS_755kfw0q5oNDmCeuPJs8-Aw54zsqlVil0e7aEPwZPvG3Gg45BBSc_Xe4EKoMbyFUEKJZcRfEHP6Krdu3c9aosB6BNeQI_a37OrLsiawzEhScmTKf1IW4NdQi9m4-KHC_J47s_hyhGyXKHZfGC7eCcw_Nd2HIc2apMQUFLZ5vcY1tM28E7K6d4DATQdvX0GMIEtDl3_tvd4GOyi-y2EpPs3T6z7zvReCzWOHRwCyDMMMYKuvIn-UdDMtrF4TCWzaFnRNm5O=s640-no" data-dialog>
                    <img class="gallery_thumbnail" src="https://lh3.googleusercontent.com/RgU0Jez_bgJ1cSNKeq444EZ-K5ZluLu_sJQN3FGRKpfTcnMN8oVt4pVEoZ0PKZFGVqgSAAk4M4YbmhnaBZZpYeJF9gmAGhj4AJkaryB5s17bvXirIvglEsR1oPsqYmk2oRNYWI8ezv_xsHd4R-aJf5PTa-J6DiP2HQS5CvgDT819cel3JjGKrKpo6lauFY07Ci7f6M9CU-oKvpojqC1TzhdBqy-H3BH-iuzLIRTJAAYNamayZyknwy4RNg60W2-6lCO9vZiDX5rRXlcAaDJMHF0csjd6l6_L0QZxWFsU84xpkS9u3i6WOen8DSwGS_755kfw0q5oNDmCeuPJs8-Aw54zsqlVil0e7aEPwZPvG3Gg45BBSc_Xe4EKoMbyFUEKJZcRfEHP6Krdu3c9aosB6BNeQI_a37OrLsiawzEhScmTKf1IW4NdQi9m4-KHC_J47s_hyhGyXKHZfGC7eCcw_Nd2HIc2apMQUFLZ5vcY1tM28E7K6d4DATQdvX0GMIEtDl3_tvd4GOyi-y2EpPs3T6z7zvReCzWOHRwCyDMMMYKuvIn-UdDMtrF4TCWzaFnRNm5O=s640-no">
                </a>
                <a href="https://lh3.googleusercontent.com/oVN70e_NQai9iocl-dCnTuG7rc9zv2QHwaLLobAg3V9F9t_qmlrnPPizdTt_X42NYUxFQFE3fqgipO1aWxqvYHtGQ145iue9GUw_R3NeJzSxVSPSAYrXWDGliNVl5I9-4sOW2vPTrL1veOCh7aTcmiaaLc2tDXxFHG_iXzV9KHPh00g9NsM_hDoW662AtdEwT6YCAt06q8Z2FC92vatzyazQoo6QnuIE0VwceoyDxIve9aiSkBU1NVC6i4XDUqSnbMpqDXp0Txll7jiMogq-yb10FpodOa_IwG5SCuGyNO0yTRCWVbJDVYFAi12DxJQT_8bR8F5NvlS1HFleJ6a7R0jV92yAsMFFeqJw3ErSIzzLnBNWYOimzWFp9FJyI81r3POHjz3WqmUNMI6JywQAiHqT9eXgw2gRM3TnmFwoMgOFQzO1-WUVdS1uS4R0Kw4J8Phj8fDVdTDU6-FoKHLiP4Q9kidVFH2MK2dECvZn6GWlpGoV4mMNMqWHWsJZegcUyqw7XRTwsV1QnV7xB4jDXlGOBLITvvYcfYnZGG7DFnlVEqXcIvcHNdWfVDy-EWR0437m=s640-no" data-dialog>
                    <img class="gallery_thumbnail" src="https://lh3.googleusercontent.com/oVN70e_NQai9iocl-dCnTuG7rc9zv2QHwaLLobAg3V9F9t_qmlrnPPizdTt_X42NYUxFQFE3fqgipO1aWxqvYHtGQ145iue9GUw_R3NeJzSxVSPSAYrXWDGliNVl5I9-4sOW2vPTrL1veOCh7aTcmiaaLc2tDXxFHG_iXzV9KHPh00g9NsM_hDoW662AtdEwT6YCAt06q8Z2FC92vatzyazQoo6QnuIE0VwceoyDxIve9aiSkBU1NVC6i4XDUqSnbMpqDXp0Txll7jiMogq-yb10FpodOa_IwG5SCuGyNO0yTRCWVbJDVYFAi12DxJQT_8bR8F5NvlS1HFleJ6a7R0jV92yAsMFFeqJw3ErSIzzLnBNWYOimzWFp9FJyI81r3POHjz3WqmUNMI6JywQAiHqT9eXgw2gRM3TnmFwoMgOFQzO1-WUVdS1uS4R0Kw4J8Phj8fDVdTDU6-FoKHLiP4Q9kidVFH2MK2dECvZn6GWlpGoV4mMNMqWHWsJZegcUyqw7XRTwsV1QnV7xB4jDXlGOBLITvvYcfYnZGG7DFnlVEqXcIvcHNdWfVDy-EWR0437m=s640-no">
                </a>
</div>


    <!-- Image Gallery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script src="././js/jquery.image-gallery.min.js"></script>
    <script src="../js//blueimp-gallery.min.js"></script>
    <script>
    document.getElementById('pixelatedLifeGallery').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
            link = target.src ? target.parentNode : target,
            options = {index: link, event: event},
            links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    };
    </script>
</body>

</html>
